<footer class="mt-5">
  <div class="text-center py-3">
    <!-- <div>
      <a href="https://hexo.io" target="_blank" rel="nofollow noopener"><b>Hexo</b></a>
      <i class="iconfont icon-love"></i>
      <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="nofollow noopener"> <b>Fluid</b></a>
    </div> -->
    <%- partial('_partial/busuanzi.ejs') %> <%- partial('_partial/beian.ejs') %>
    <% if(theme.web_analytics.cnzz) { %>
    <!-- cnzz Analytics Icon -->
    <span
      id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>"
      style="display: none;"
    ></span>
    <% } %>
    <div>
      <span id="timeDate">载入天数...</span>
      <span id="times">载入时分秒...</span>
      <script>
        var now = new Date()
        function createtime() {
          var grt = new Date('04/4/2020 00:00:00') //此处修改你的建站时间或者网站上线时间
          now.setTime(now.getTime() + 250)
          days = (now - grt) / 1000 / 60 / 60 / 24
          dnum = Math.floor(days)
          hours = (now - grt) / 1000 / 60 / 60 - 24 * dnum
          hnum = Math.floor(hours)
          if (String(hnum).length == 1) {
            hnum = '0' + hnum
          }
          minutes = (now - grt) / 1000 / 60 - 24 * 60 * dnum - 60 * hnum
          mnum = Math.floor(minutes)
          if (String(mnum).length == 1) {
            mnum = '0' + mnum
          }
          seconds =
            (now - grt) / 1000 -
            24 * 60 * 60 * dnum -
            60 * 60 * hnum -
            60 * mnum
          snum = Math.round(seconds)
          if (String(snum).length == 1) {
            snum = '0' + snum
          }
          document.getElementById('timeDate').innerHTML =
            '本站安全运行&nbsp' + dnum + '&nbsp天'
          document.getElementById('times').innerHTML =
            hnum + '&nbsp小时&nbsp' + mnum + '&nbsp分&nbsp' + snum + '&nbsp秒'
        }
        setInterval('createtime()', 250)
      </script>
    </div>
  </div>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
